<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title> test</title>
<link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

</head>

<body>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@{patients}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="@{}">Action</a>
          <a class="dropdown-item" href="@{}">Another action</a>
          <a class="dropdown-item" href="@{}">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav></div>


<div class="container mt-5">
<div class="card"> 
<div class="card-header"> liste des patients</div>
<div class="card-body"> 
<table class="table">
<tr><th>ID</th><th>Prenom</th><th>Nom</th><th>Age</th><th>Malade?</th></tr>
<tr th:each="p:${patients}">
	<td th:text="${p.id}"></td>
	<td th:text="${p.prenom}"></td>
	<td th:text="${p.nom}"></td>
	<td th:text="${p.age}"></td>
	<td th:text="${p.malade}"></td>
	 <td><a class="btn btn-success" th:href="@{deletePatient(id=${p.id})}">Supprimer</a>
               </td>
	
</tr>
</table>
<ul class="nav nav-pills">
<li  th:each="pg,status:${pages}">
<a th:class="${status.index==currentPage  ? 'btn btn-primary':'btn'}" th:href="@{patients(page=${status.index})}" th:text="${status.index}"/>
</li>
</ul>
</div>
</div>
</div>

</body>
</html>