<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title> test</title>
<link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

</head>
<body>
<div class="container mt-5">
<div class="card"> 
<div class="card-header"> liste des patients</div>
<div class="card-body"> 
<table class="table">
<tr><th>ID</th><th>Prenom</th><th>Nom</th><th>Age</th><th>Malade?</th></tr>
<tr th:each="p:${patients}">
	<td th:text="${p.id}"></td>
	<td th:text="${p.prenom}"></td>
	<td th:text="${p.nom}"></td>
	<td th:text="${p.age}"></td>
	<td th:text="${p.malade}"></td>
</tr>
</table>
<ul calss="nav nav-pills">
<li  th:each="pg,status:${pages}">
<a th:class="${status.index==currentPage  ? 'btn btn-primary':'btn'}" th:href="@{patients(page=${status.index})}" th:text="${status.index}"/a>
</li>
</ul>
</div>
</div>
</div>

</body>
</html>